.login-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */     
    min-height: 100%;
}

.login-form {
    position: relative;
    width: 300px;
    top: 15%;
}