@model AjaxModel
@{
}

<div class="page">

    <div class="page-caption">
        <div class="page-title">Ajax Demo View</div>
    </div>

    <div class="tp-Row xs-100 sm-100 md-50 lg-50 xl-33 xxl-33">
        <div class="tp-Col field-group">
            <tp-input asp-for="Message" />
            <tp-input asp-for="Value" />
        </div>
    </div>

</div>
