@model ErrorViewModel
@{
    ViewData["Title"] = "Error"; 
}

<div class="page tp-Selectable">
    <h2>Error</h2>

    <p><strong>Oups! something went wrong.</strong></p>
    <p><strong>An error occurred while processing your request.</strong></p>
    <p>We apologize for the error. </p>
    <p>Our staff will be immediately informed regarding the problem and we will try to resolved it as soon as possible. </p>
    @if (!string.IsNullOrWhiteSpace(Model.RequestId))
    {
        <p><strong>Reference Id:</strong> <code>@Model.RequestId</code></p>
    }
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <p><strong>Error Message:</strong></p>
        <pre>
            @Model.ErrorMessage
        </pre>
    }
</div>

        


