@model ProductModel

<div class="page">

    <div class="page-caption">
        <div class="page-title">@L("Product.Edit")</div>
    </div>

    <form asp-route="Product.Edit" method="post">
        @await Html.PartialAsync("_InsertOrEdit", Model)
    </form>

</div>