@model ProductListModel
 
<div class="page">
    <h2>Product List</h2>

    <div class="button-zone">
        <a asp-route="Product.Insert">@L("Product.Insert")</a>
    </div>

    @if (Model.Products.Count == 0)
    {
        <h5>No Products yet.</h5>
    }
    else
    {
        @await Html.PartialAsync("_ProductList", Model)
    }

</div>